* {
    box-sizing: border-box;
    text-align: center;
  }

  body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    /* width: 960px; */
    font-size: 18px;
    margin: 0 auto;
  }

  header {
    padding: 20px;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 20px;
    background: #ebebeb;
    height: 110px;
    width: 70%;
  }

  nav {
    padding: 20px;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 20px;
    background: #ebebeb;
    height: 110px;
    width: 70%;
  }

  section {
    float: left;
    margin-left: 15%;
    margin-right: 2%;
    width: 40%;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
    
  }
  
  aside {
    float: left;
    margin-right: 15%;
    width: 28%;
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
  }

  article {
    color: #ebebeb;
    width: 100%;
    height: 220px;
    padding: 20px;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 30px;
    background: #777;
  }

  h3
  { 
    background: #ebebeb;
    color: #777;
    height: 50px;
    padding:12px;
  
  }

  p
  { 
    background: #ebebeb;
    color: #777;
    height: 50px;
    padding:12px;
  
  }

  
  footer {
    padding: 20px;
    clear: both;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 20px;
    height: 110px;
    width: 70%;
    background: #ebebeb;
  }

 
  